<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Petdora</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="d-flex align-items-baseline justify-content-between p-3">
        <a asp-action="Dashboard" asp-controller="Post"><h3>PETDORA</h3></a>
        <input type="search" placeholder="Search" class="form-control w-50"/>
        <div class="d-flex align-items-baseline gap-3">
            <a asp-action="ViewUser" asp-controller="User" asp-route-userId="@Context.Session.GetInt32("UserId")">Account</a>
            <a asp-action="Settings" asp-controller="User">Settings</a>
            <form asp-action="Logout" asp-controller="User" method="POST"><button class="btn btn-link">Logout</button></form>
        </div>
    </nav>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>