@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-3 border border-dark rounded p-3 m-3">
        <div class="d-flex border border-dark rounded p-1 gap-3">
            <img src="#" alt="pfp" class="border border-dark rounded"/>
            <div>
                <h6>Username #CHANGE</h6>
                <h6>2 posts #CHANGE</h6>
            </div>
        </div>
    </div>
    <div class="col-5 border border-dark rounded p-3 m-3">
        <div class="border border-dark rounded p-3">
            <h3>Add Post section #CHANGE</h3>
        </div>
        <div>
            <h3>All Posts section #CHANGE</h3>
        </div>
    </div>
    <div class="col-3 d-flex flex-column gap-3">
        <div class="border border-dark rounded p-3 m-3">
            <h3>Follow/Requests Section #CHANGE</h3>
        </div>
        <div class="border border-dark rounded p-3 m-3">
            <h3>Events Section #CHANGE</h3>
        </div>
    </div>
</div>