@model User
<fieldset class="col-5 border border-dark p-5">
    <legend>Register</legend>
    <form asp-action="RegisterUser" asp-controller="User" method="POST" class="d-flex flex-column">
        <div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control w-75">
            </div>
            <span class="text-danger" asp-validation-for="Username"></span>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control w-75">
            </div>
            <span class="text-danger" asp-validation-for="Email"></span>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control w-75">
            </div>
            <p class="text-end">*Password must be at least 8 characters*</p>
            <span class="text-danger" asp-validation-for="Password"></span>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control w-75">
            </div>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        </br>
        <button class="btn btn-primary mt-3 align-self-end">Register</button>
    </form>
</fieldset>